@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  background: #fff;

  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #414042;
  min-height: 100vh;
  overflow-x: hidden;
}

html.dark .timeline-card-content {
  background: #192230 !important;
}

.timeline-card-content {
  padding: 1rem !important;
}

.card-content-wrapper > section {
  margin-bottom: 2rem !important;
}

.timeline-card-content > .show-less {
  padding: 0;
  max-height: 800px !important;
}
.card-description {
  height: 100% !important;
}

.timeline-card-content > .show-less > p {
  font-size: 0.9rem !important;
  margin-top: 4px;
}

html.dark .timeline-card-content > .show-less > p {
  color: white !important;
}

.timeline-card-content > span {
  display: none !important;
}

.timeline-card-content .card-sub-title {
  font-size: 1.4rem !important;
  padding-top: 0.4rem !important;
}

.animate-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html.dark > body {
  background: #111827 !important;
}

html.dark .w-gradient-blue {
  padding-top: 5rem;
  background: #111827 !important;
}
.w-gradient-blue {
  padding-top: 5rem;
  background: white !important;
}

.h-1px {
  height: 1px;
}
.btn-height-nm {
  height: 40px;
}

.radio-padding-outline {
  padding: 6px;
}

.radio-outline {
  background-color: #e5e5e5 !important;
}
.radio-outline.active {
  background-color: #3ab2e6 !important;
}
.radio-outline.btn {
  background-color: #f4f4f4 !important;
  color: #808285 !important;
}
.radio-outline.btn.active {
  background-color: #3ab2e6 !important;
  color: white !important;
}

.radio-padding {
  padding: 3px;
}

html.dark .absolute-panel {
  background: #111827 !important;
}

.absolute-panel {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    315deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(224, 245, 255, 1) 0%,
    rgba(252, 254, 255, 1) 100%
  );
  min-height: 100vh;
  width: 100vw;
  z-index: 999999;
}

.info-tvl-panel {
  background: url("../public/images/info-tvl-bg.png") center center no-repeat;
  background-size: cover;
}

.reward-panel {
  background: url("../public/images/icons/pattern-earned.svg") center center
    no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* deposit list */
.pool-item {
  border: solid 1px #e5e5e5;
}

.pool-item:hover {
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(25, 198, 188, 0.5);
  border: solid 1px #19c6bc;
}
/* toggle  */
.card-toggle {
  max-height: 0;
  transition: max-height 0.45s ease-out;
  overflow: hidden;
}

.card-toggle.active {
  max-height: 800px;
  transition: max-height 0.65s ease-in;
}

/* sidebar responsive */
@media only screen and (max-width: 1460px) {
  .main-container > .container {
    margin: 0;
    margin-left: 13rem;
  }
  .main-nav {
    margin: 0;
    margin-left: 13rem;
  }
}

@media only screen and (max-width: 1250px) {
  .main-container > .container {
    margin: 0 auto;
  }
  .main-nav {
    margin: 0 auto;
  }
  aside {
    display: none !important;
  }
  .mobile-menu-button {
    display: flex !important;
  }
}

@media only screen and (max-width: 500px) {
  .text-md {
    font-size: 1rem !important;
    line-height: 1.25rem !important;
  }
  .text-sm {
    font-size: 0.8rem !important;
    line-height: 1rem !important;
  }
  .text-xs {
    font-size: 0.6rem !important;
    line-height: 0.75rem !important;
  }

  .modal-panel {
    width: 100vw !important;
  }
}

.mobile-menu-layer {
  z-index: 999;
  background-color: #000;
}

.mobile-menu {
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(224, 245, 255, 1) 0%,
    rgba(252, 254, 255, 0.7) 100%
  );
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

html.dark .mobile-menu {
  background: #2c3038 !important;
  color: white !important;
}

.mobile-menu.active {
  max-height: 500px;
  transition: max-height 0.45s ease-in;
}

.mobile-menu > div > div {
  cursor: pointer;
}

.mobile-menu.active {
  display: block !important;
}
.mobile-menu-layer.active {
  display: block !important;
}

div.modal {
  z-index: 9999;
}

.modal-panel {
  max-width: 34rem;
  width: 34rem;
}

.beginner-card {
  cursor: pointer;
}

.beginner-card img:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.text-steel-300 {
  color: #808285 !important;
}

.text-steel-400 {
  color: #414042 !important;
}

.text-pink-500 {
  color: #db2777 !important;
}

/* rewrire bg */
.bg-blue-50 {
  background-color: RGB(210, 244, 255, 0.3) !important;
}
.bg-blue-100 {
  background-color: #d2f4ff !important;
}
.bg-blue-200 {
  background-color: #a4e9ff !important;
}
.bg-blue-300 {
  background-color: #a0d8f1 !important;
}
.bg-blue-400 {
  background-color: #19c6bc !important ;
}

.bg-steel-100 {
  background-color: #f4f4f4 !important;
}

.bg-steel-200 {
  background-color: #e5e5e5 !important;
}

.bg-green-200 {
  background-color: #84eead !important;
}

.border-blue-400 {
  border-color: #19c6bc !important;
}

.border-steel-200 {
  border-color: #e5e5e5 !important;
}

.width-119 {
  width: 119px !important;
}

.bg-pink-500 {
  background-color: #db2777 !important;
}

html.dark .dark\:bg-dark-400 {
  background-color: #192230 !important;
}

html.dark .dark\:bg-dark-500 {
  background-color: #374151 !important;
}

html.dark .dark\:bg-dark-500.active {
  background-color: #3ab2e6 !important;
}

html.dark .dark\:bg-dark-600 {
  background-color: #1f2937 !important;
}

html.dark .dark\:bg-dark-900 {
  background-color: #111827 !important;
}

html.dark .dark\:bg-dark-700 {
  background-color: #192230 !important;
}

html.dark .dark\:bg-dark-800 {
  background-color: #2c3038 !important;
}

html.dark .dark\:text-white {
  color: #ffffff !important;
}

html.dark .dark\:text-dark-700 {
  color: #9ca3af !important;
}

html.dark .dark\:border-0 {
  border: 0 !important;
}

html.dark .dark\:hidden {
  display: none !important;
}

html.dark .dark\:flex {
  display: flex !important;
}

html.dark .dark\:box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1) !important;
}
html.dark .dark\:border-dark-700 {
  border: #374151 1px solid !important;
}

html.dark .dark\:border-dark-900 {
  border: #192230 2px solid !important;
}

html.dark .dark\:border-dark-500 {
  border: #374151 1px solid !important;
}
html.dark .dark\:border-t-dark-500 {
  border-top: #374151 1px solid !important;
}

html.dark .dark\:border-b-dark-500 {
  border-bottom: #374151 1px solid !important;
}

html.dark .dark\:border-dark {
  border-color: #374151;
}

html.dark .dark\:bg-steel-500 {
  background-color: #1f2937 !important;
}

html.dark .dark\:text-gray-400 {
  color: #9ca3af !important;
}

.border-light {
  border-color: #e5e5e5;
}

html.dark .dark\:hover:bg-dark-600 {
  background-color: #484c57 !important;
}
html.dark .dark\:text-steel-300 {
  color: #808285 !important;
}

html.dark .swap-dropdown-item:hover {
  background-color: #515560 !important;
}

html.dark .dark\:opacity-80 {
  opacity: 0.8;
}

.backdrop-filter {
  /* Add the blur effect */
  backdrop-filter: blur(4px);
}

.btn-CoinMarketCap {
  background-color: #3962fb;
  color: white;
}

.btn-CoinGecko {
  background-color: #8dc448;
  color: white;
}

.bg-green-50 {
  background-color: rgba(25, 198, 188, 0.2) !important  ;
}

.border-green-300 {
  border: #19c6bc 1px solid !important;
}

/* overwrite css tailwind */
.bg-gradient-to-r.from-blue-400.to-green-300 {
  background-image: linear-gradient(to right, #0062dc, #19c6bc) !important;
}
.bg-gradient-primary {
  background-image: linear-gradient(to right, #0062dc, #19c6bc) !important;
}

.text-blue-400 {
  color: #19c6bc !important;
}

.text-blue-500 {
  color: #19c6bc !important;
}

.border-blue-500 {
  border-color: #19c6bc !important;
}

.bg-orange-500 {
  background-color: #ff7f00;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.badge-price {
  height: 40px !important;
}

#launcher {
  bottom: 69px !important;
}

.mint-container.container {
  min-height: 75.6vh !important;
}
