div.modal {
  display: flex; /* Hidden by default */
  align-items: center;
  justify-items: center;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  overflow-y: auto;
  .modal-body {
    margin: 0 auto;
  }
}

div.modalContent {
  width: 565px;
  min-height: 332px;
  border: 1px solid "#fff";
  margin: auto;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  max-height: calc(100vh - 72px);
  overflow: auto;

  .close {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 16px;
    margin-right: 24px;

    &:hover,
    &:focus {
      color: var(--text-selected);
      text-decoration: none;
      cursor: pointer;
    }
  }
}
