div.walletStatus {
  display: flex;
  justify-content: flex-end;
  & > button {
    color: var(--text-darker);
    border: none;
    padding: 0;
    background: none;
    font-size: 16px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
  .hasAccount img {
    margin-right: 0;
    margin-left: 8px;
    vertical-align: text-bottom;
  }
  .noAccount {
    height: 40px;
    width: 170px;
    border: 1px solid var(--outline);
    border-radius: 8px;
    line-height: 40px;
    color: var(--header-text);

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 2px solid var(--outline);
      transform: none;
      transition: none;
      cursor: pointer;
    }
  }
}
